<!DOCTYPE html>
<html>
<head>
  <title>Blackjack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Black-Jack', root_path, class: 'navbar-brand' %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if player_signed_in? %>
          <li><%= link_to 'Your Games', games_path %></li>
          <li><%= link_to 'New Game', new_game_path %></li>
          <li><%= link_to 'Logout', destroy_player_session_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_player_session_path %></li>
          <li><%= link_to 'Sign Up', new_player_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <%= yield %>

</body>
</html>
